<html>
<head>
    <title>Breaking Bad</title>
    <link href="/index.css" rel="stylesheet" />
</head>
<body>
    <div class="name">{{{ name }}}</div>

    <script src="/index.js"></script>
</body>
</html>